/* Head title section */
.head-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head-title h1{
    color: green;
}
.head-title button{
    border: 1px solid green;
    padding: 10px 15px;
    border-radius: 5px;
}
body{
    margin: auto;
}

/* Head bannar section */
.bannar-section{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    width: 1280px;
    height: 560px;
    
    border-radius: 15px;
   padding: 80px 100px;
   gap: 64px;
   margin-bottom: 80px;
    
}
.text-area{
width: 620px;
height: 320px;
}
.text-area h5{
    color: gray;
    
}
.text-area button{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 5px;
    margin-top: 24px;
}

.img-area img{
    width: 474px;
    height: 400px;
}

/* The vishon section  */
.title-vishon{
    margin: 20px;
}
.title-vishon p{
    color: gray;
}

.feture-vishon{
    display: flex;
    margin: 20px;
    gap: 10px;
}
.digital-transform{
    padding: 32px;
    background-color: lightcoral;
    border-radius: 10px;
    
}
.digital-transform button{
    background-color: coral;
    padding: 10px 8px;
    border-radius: 5px;
}
.green-energy{
    padding: 32px;
    background-color: lightgreen;
    border-radius: 10px;
}
.green-energy button{
    background-color: green;
    padding: 10px 8px;
border-radius: 5px;
}
.modern-infrastructure{
    padding: 32px;
    background-color: lightgray;
    border-radius: 10px;
}
.modern-infrastructure button{
   background-color:gray ;
   padding: 10px 8px;
   border-radius: 5px;
}

/* News Section */
.recent-news{
    margin: 20px;
}
.news-title-sec p{
    color: gray;
}

.news-section {
    display: flex; 
    padding: 48px;
    gap: 32px; 
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    align-items: flex-start; 
    margin-top: 24px;

}

.news-text {
    flex: 1; 
}

.news-img {
    flex-shrink: 0; 
    margin-left: auto; 
}

.news-img img {
    max-width: 300px;
    width: 100%; 
    border-radius: 10px; 
}

.news-text p {
    color: gray;
}

.news-text button {
    background-color: #006A50;
    padding: 13px 15px;
    border-radius: 5px;
    color: white;
    border: none; 
    
}